	body{
		background-color: #FFFFFF;
		color: #333;
		border-top: solid #F44336 4px;
		margin: 0px;
		padding-left: 20px;
	}
	clearfix {
	  *zoom: 1;
	}
   .clearfix:before, .clearfix:after {
	    content: " ";
	    display: table;
	}
   .clearfix:after {
	    clear: both;
	}
	.setting-head{
		font-size: 2.5em;
	}
	.first-select,.second-select{
		float: left;
		margin: 1em;
	}
	h1, h2, h3{
		color: #F44336;
	}
	#status{
		color: green;
	}
	#usage{
		width: 50%;
		padding: 5px;
		margin: 5px;
	}
	ul.customize{
		list-style: none;
		width: 50%;
	}

	ul.customize li{
		padding: .5em;
		margin: .3em;
		border-left: solid 2px #F44336;
		background-color: #F8F6F5;
		color: #F44336;
	}
	.settings{
		min-height: 80px;
		width: 800px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
	kbd{
		font-size: 2em;
		color: #F44336;
		text-shadow: #F44336 2px 2px 2px;
	}
	#save{
		background-color: #F44336;
	}
	img.setting{
		width: 50px;
		height: 50px;
	}
	div.submit-button{
		width: 150px;
		margin-left: 1em;
		float: left;
	}
	#status{
		width:600px;
		height: 30px;
		margin:0 auto;
		background-color: 
	}
	button, .button {
	  border-style: solid;
	  border-width: 0px;
	  cursor: pointer;
	  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	  font-weight: normal;
	  line-height: normal;
	  margin: 25px 0 1.25rem;
	  position: relative;
	  text-decoration: none;
	  text-align: center;
	  display: inline-block;
	  padding-top: .5rem;
	  padding-right: 2rem;
	  padding-bottom: .6rem;
	  padding-left: 2rem;
	  font-size: 1rem;
	  border-radius: 5px;
	  box-shadow: 1px 1px 1px rgba(0,0,0,.5);
	  /*     @else                            { font-size: $padding - rem-calc(2); } */
	  background-color: #008cba;
	  border-color: #007295;
	  color: white;
	  -webkit-transition: background-color 300ms ease-out;
	  -moz-transition: background-color 300ms ease-out;
	  transition: background-color 300ms ease-out;
	  padding-top: 1.0625rem;
	  padding-bottom: 1rem;
	  -webkit-appearance: none;
	  border: none;
	  font-weight: normal !important; }
	  button:hover, button:focus, .button:hover, .button:focus {
	    background-color: #007295; }
	  button:hover, button:focus, .button:hover, .button:focus {
	    color: white; }
	    button.round, .button.round {
    -webkit-border-radius: 6px;
    border-radius: 6px; }
    button:active{
    	box-shadow: none;
    }
	.select_container {
		width: 255px;
		height: 50px;
		margin: 10px 0 5px 10px;
		background: #E24235;
		border: none;
		border-radius: 5px;
		position: relative;
		padding-right: 3px;
		color: #fff;
		cursor: pointer;
		box-shadow: 2px 2px 2px rgba(86, 24, 24, 0.4);
	}

	.fonts_for_select {
		float: left;
		display: inline-block;
		color: #fff;
		font-weight: 300;
		font-family: "helvetica neue", arial;
		position: relative;
		cursor: pointer;
		padding: 0 0 0 15px;
		line-height: 2em; 
		width: 215px;
		background-position: 115px 9px;
		background-size: 13px 13px;
		margin-top: 8px;
	}

	.option {
		border-bottom: 1px solid #eee;
		font-size: .9em;
		background: #FC2D2D;
		height: 30px;
	}

	.option:last-child {
		border-radius: 0 0 2px 2px;
	}

	.option:hover {
		background: #DF0303;
		color: #fff;
	}
	
	i.fa{
		float:left;
		font-size: 2em !important;
		line-height: 1.7em;
	}

	.fonts_combo {
		position: absolute;
		width: 255px;
		max-height: 90px;
		overflow-y: auto;
		top: 43px;
		left: 0px;
		text-align: center;
		list-style: none;
		background: rgba(255, 255, 255, 1);
		border-radius: 0 0 2px 2px;
		box-shadow: .6px .6px 0px rgba(0, 0, 0, .4);
		border-radius: 3px;
		border-top: 1px solid #eee;
		display: none;
		cursor: pointer;
		margin:0;
		padding:0;
		border:1px solid #eee;
		scrollbar-face-color: #367CD2;
		scrollbar-shadow-color: #FFFFFF;
		scrollbar-highlight-color: #FFFFFF;
		scrollbar-3dlight-color: #FFFFFF;
		scrollbar-darkshadow-color: #FFFFFF;
		scrollbar-track-color: #FFFFFF;
		scrollbar-arrow-color: #FFFFFF;
	}


	.fonts_combo::-webkit-scrollbar {
		width: 12px;
	}

	/* Track */
	.fonts_combo::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(127,31,82,0.3); 
		-webkit-border-radius: 10px;
		border-radius: 10px;
		
	}

	/* Handle */
	.fonts_combo::-webkit-scrollbar-thumb {
		-webkit-border-radius: 10px;
		border-radius: 10px;
		background: #A63434; 
		-webkit-box-shadow: inset 0 0 6px rgba(127,31,82,0.5); 
	}
